:root {
  --main-color: #ccd5ae;
  --second-color: #d4a373;
  --third-color: #faedcd;
  --main-font: "Bebas Neue", cursive;
  --body-font: "Roboto", sans-serif;
}

h1 {
  font-family: var(--main-font);
  font-size: 100px;
}

h2 {
  font-family: var(--body-font);
  margin: -10px;
}

.main {
  height: 100vh;
  width: 100%;
  background-color: var(--third-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main-button {
  background-color: var(--main-color);
  margin: 35px;
  padding: 10px 15px;
  font-size: 20px;
}
